@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Tagesschrift", system-ui;
}
.contenedor-principal{
    width: 100%;
    max-width: 100%;
    overflow: hidden;/*Esto sirve para ocultar lo que sobra del contenedor*/
    position: relative;
    height: auto;/*Para que la altura sea dinmica segun el contenido*/
}
/*aqi iniciamos el estilo de hoja de navegacion*/
.navbar{
    width: 100%;
    background-color: rgb(217, 184, 248);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index:1000;
}

.navbar-menu{
    list-style: none;
    color:rgb(250, 163, 238);
    display: flex;
    gap:1.5rem ;
}
/* Aqui configuramos los items del menu de navegacion*/
.navbar-link{
    font-size: 1rem;
    text-decoration: none;
    color:white ;
    transition: color 0.3s ease;
}
/*aqui personalizamos el menu cuando el mouse pasa por encima*/
.navbar-link:hover{
    color: rgb(175, 84, 218);
    font-weight: 900;
}
/*aqui configuramos el logo*/
.navbar-logo{
    font-size: 1.5rem;
    font-weight: bold;
}
/*Menu de hamburguesa icono*/
.navbar-icono{
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: antiquewhite;
}

/*ocultar el checkbox del diseño*/

.menu-toggle{
    display: none;
}

/*fin de diseño barra de navegacion*/

/*inicio del carrucel de imagenes*/

/*configurar el contenedor principal*/

h2{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    max-width: 600px;
    color: rgb(240, 226, 239);
    text-align: center;
    z-index: 2;
}

.contenedor-carrusel-imagenes{
    display: grid;
    grid-template-columns: repeat(3,100%);
    animation: carrusel 10s infinite;
    height: 100%;
    transition: transform 0.5 ease-in-out;
}

.contenedor-carrusel-imagenes div{
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    flex-shrink:0;

}

.imagen1{
    background-image: url(./imagenes/Carrusel/c1.jpeg);
    position: relative;
}

.imagen2{
    background-image: url(./imagenes/Carrusel/c2.jpeg);
    position: relative;
}
.imagen3{
    background-image: url(./imagenes/Carrusel/c3.jpeg);
    position: relative;
}

/*====animacion del carrusel de imagenes ===*/

@keyframes carrusel {
    0%  { transform: translateX(0%);}
    20% { transform: translateX(0%);}
    25% { transform: translateX(-100%);}
    45% { transform: translateX(-100%);}
    50% { transform: translateX(-200%);}
    70% { transform: translateX(-200%);}
    75% { transform: translateX(-100%);}
    100%{ transform: translateX(0%);}
}

/* Inicio de el diseño de card 1*/
.contedor-principal-card{
    display: flex;
    flex-wrap:wrap ;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 30px;
}

.contenedor-card1{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 30px;
}
.contenedor-card1 .card-producto1{
    width: 280px;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    box-shadow: 0 2px 2px rgb(0,0,0,0.2);
    transition: all 0.25s;
}
.contenedor-card1 .card-producto1 img{
    width:280px ;
    height:170px ;
    object-fit: cover;

}
.contenedor-card1 .card-producto1:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(196, 80, 219, 0.2) ;
}
 
.contenedor-card1 .card-producto1 h4{
    font-weight: bold;
    padding-top:5px ;
}
.contenedor-card1 .card-producto1 p{
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 300;
    padding-top: 5px;
    padding-bottom: 10px;
}
.contenedor-card1 .card-producto1 a{
    font-weight: 500;
    text-decoration: none;
    color:rgb(148, 29, 172);
}


/* Fin de el diseño de card 1*/

/*inicio del diseño de card 2*/
.contenedor-card2{
    width: 100%;
    max-width:1200px;
    height:auto;
    display:flex ;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    padding-bottom: 30px;
}
.contenedor-card2 .card-productos2{
    width:280px;
    height:330px;
    border-radius:8px;
    overflow: hidden;
    margin:20px;
    text-align:center;
    object-fit: cover;
    box-shadow: 0 2px 2px 2px rgb(202, 104, 247);
    transition: all 0.25s ;
}
.contenedor-card2 .card-productos2 img{
    width: 200px;
    height: 200px;
    object-fit:cover;}
    
    .card-productos2 .cuerpo-card{
        background-color:rgb(238, 205, 248) ;
        position: relative;
        bottom: 0;
        padding: 20px;
        transition: all 0.25s;
        height:200px ;
    }
    .card-productos2 .cuerpo-card h4{
        padding-bottom: 10px;
    }
    .card-productos2 .cuerpo-card p{
        padding: 0 1rem;
        padding-top:5px;
        padding-bottom: 5px;
        font-size: 1rem;
        font-weight: 300;
    }

    .contenedor-card2 .card-productos2 a{
    font-weight: 500;
    text-decoration: none;
    color:rgb(148, 29, 172);
}

.contenedor-card2 .card-productos2:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(196, 80, 219, 0.2)
}

/*fin del diseño de la card 2*/

/* inicio del diseño del footeer*/
footer{
    background-color:rgb(239, 179, 247) ;
    padding:20px 0 ;
    text-align: center;
}
.contenedor-footer{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.contenido-footer{
    flex: 1;
    min-width:200px;
    padding: 10px;
}
.contenido-footer h4{
    padding-bottom:10px;
    font-size:1.2rem ;

}
.contenido-footer p{
    font-weight: 300;
}
.contenido-footer img{
    padding-top: 20px;
}
.contenido-footer {
    padding-left:5px ;
}
.contenido-footer a img:hover{
    transform: translateY(-5px);
}
/* fin del diseño del footer*/

/*inicio configuracion modo responsivo*/
@media(max-width:1024px){
    .contenedor-carrusel-imagenes div{
        max-height: 350px;
    }
    h2{
        font-size: 1.5rem;
    }
}

@media ( max-width:768px){
    .contenedor-carrusel-imagenes div{
        margin-top: 118px;
        max-height: 350px;
    }
    h2{
        font-size: 1.5rem;
    }
/* mostramos el icono hamburguesa*/
.navbar-icono{
    display:block;
}
/* ocultar el menú por defecto*/
.navbar-menu{
    position: absolute;
    top:60px;
    left: 0;
    width: 100%;
    background-color:rgb(217, 135, 241) ;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.menu-toggle:checked ~ .navbar-menu{
    margin-top: 40px;
    max-height:300px;
}

.navbar{
    position:fixed ;
    top: 0;
}
/*Ajustar los enlaces del menu*/
.navbar-menu li{
    width: 100%;
    text-align: center;
}

.navbar-link{
    display: block;
    padding: 0.5rem;
}
.contenedor-footer{
    flex-direction: column;
    align-items: center;
}

.contenido-footer{
    max-width: 100%;
}

}

/*Configuracion media querie 480px*/
@media(max-width:480px){
    .contenedor-carrusel-imagenes div{
        max-height: 300px;
    }
}
/* Fin configuracion media querie 480px*/


